.emptyTweet {
  border: 7px solid red;
  align-items: center;
  padding: .7em;
  font-size: 26pt;
  font-weight: 500;
  color: red;
  
}
.exceedChar {
  border: 7px solid red;
  align-items: center;
  padding: .7em;
  font-size: 26pt;
  font-weight: 500;
  color: red;
}

.new-tweet {
 padding: 1.5em;
 margin-bottom: 1.5em;
}

label {
  font-weight: 600;
}

form div {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

button {
  background-color: #4056A1;
  font-size: smaller;
  color: antiquewhite;
}

.counter {
  color:#545149;
}

textarea {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
  border-width: 0px;
  border-bottom: 5px solid #545149;
  background-color: #f4f1ec;
  resize: none;
  font-family: "Source Sans Pro";
  font-weight: 400;
}

