.new-tweet {
 padding: 1.5em;
}

div {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

button {
  background-color: #4056A1;
  font-size: smaller;
  color: antiquewhite;
}

.counter {
  color:#545149;
}

label {
  display: flex;
  justify-content: flex-start;
  font-family: "Source Sans Pro";
  font-weight: 600;
}

textarea {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
  border-width: 0px;
  border-bottom: 5px solid #545149;
  background-color: #f4f1ec;
  resize: none;
}
