article {
  display: block;
  margin-bottom: 1.5em;
}

.all-tweets {
  display: flex;
  flex-direction: column-reverse;
}

.tweet {
  margin-top: 10px;
  padding: 1em;
  border-width: 5px;
  border: 5px solid #545149;
  background-color: #f4f1ec;
}

.tweet:hover {
  box-shadow: 5px 5px #9eaacf;
}

article.tweet img {
  width: 5%;
}

article.tweet header {
  background-color: #f4f1ec;
  background-image: none;
  padding-bottom: 1em;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

article.tweet header #handle {
  float: right;
}


article.tweet p {
  display: flex;
  align-items: flex-start;
  font-weight: 700;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;

}

.days {
  font-size: smaller;
  font-family: "Source Sans Pro";
}

article.tweet i {
  padding: 4px;
  font-size: smaller;
}

article.tweet i:hover {
  color: #d6c391 ;
}

hr {
  border: 2px solid #545149;
}

